body {
    background-color:beige;
    background-blend-mode: hard-light;
    color: #777777;
    font-family: 'Georgia', Times, Times New Roman, serif;
    width: 960px;
}

h1 {
    background-color: #4aaaa5;
    color: #ffffff;
    width: 240px;
    text-align: center;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

h2 {
    color: #4aaaa5;
}

p {
    background-color: #ffffff;
    color: #777777;
    font-size: 18px;
    float: right;

}

nav {
    float: right;
    position: inherit;
    
}
.white-box {
    background-color: #ffffff;
}
