body {
    background-color:beige;
    background-blend-mode: hard-light;
    color: #777777;
    font-family: 'Georgia', Times, Times New Roman, serif;
    width: 960px;
}

header {
    overflow: auto;
}

.list {
    background: #ffffff;
    list-style-type: none;
    width: 400px;
    }

.list-spec {
    border-right: #777777 1px solid;
    float: right;
    margin-left: 10px;
    padding-right: 10px;
}

h1 {
    background-color: #4aaaa5;
    color: #ffffff;
    margin-left: 30px;
    width: 240px;
    text-align: center;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

h2 {
    color: #4aaaa5;
    text-align: left;
    margin-left: 30px;
}

p {
    color: #777777;
    font-size: 18px;
    text-align: left;
}
 .photo {
     float: left;
     margin-right: 5px;
 }

nav {
    margin-top: 28px;
    width: 500px;
    text-align: center;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

.white-box {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ffffff;
    width: 960px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #777777;
}

.content-wrapper{
    background-color: #ffffff;
    margin: 20px;
    margin-top: 80px;
    padding: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    clear: both;
}

.title-name {
    float: left;
    left: 30px;
    
}
.link-wrapper {
    float: right;
  
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 5%;
    width: 100%;
    background:#777777;
    border-top-style: solid;
    border-top-width: 5px;
    border-top-color: #4aaaa5;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create two equal columns that sits next to each other */
  .column {
    flex: 50%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
  }